body {
    margin: 0;
    background-color: #293c58;
    padding: 1rem;
}
.no-scroll{
    overflow: hidden ;
}
.Page-content{
    max-width: 1280px;
    margin: auto;
    position: relative;
}
