.Button_light{
    @include buttons;
    @extend %transition;
    border: none;
    margin: 1.5rem 0;  
    border: 2px solid $color_light;
    color:$color_light2; 
}
.Button_blue{
  @include buttons;
  @extend %transition;
  border: none;
  margin: 1.5rem 0;  
  border: 2px solid $color_light;
  color:$color_dark; 
}
.Button_transp{
  @include buttons;
  @extend %transition;
  margin: 0.4rem 0;  
  background-color: transparent;
  padding: 0 1rem 0 1rem;
  border-color: $color_dark;
  font: {
    family: $font_sansserif;
    style: normal;
    size: 32px;
    weight: 600;
  }
}
.Button_like-light{
  box-sizing: border-box;
  @include buttons;
  @extend %transition;
  border: 1px solid $color_primary;
  background-color: transparent;
  margin-right: 0.5rem; 
  height: 2.5rem;
  width: 3rem;
  padding:0;
}
.line-lilke{
  height: 2.2rem;
}

.Button_dark-on-dark{
    @include buttons;
    @extend %transition;
    @include respond-to(tablet){
        margin: auto;}

@include respond-to(small-devices){
    margin: auto;
}
}
.Button_dark{
    @include buttons;
    padding:15px 45px;
    @extend %transition;
}