$color_primary: #f2d6aab9;
$color_primary_hover: rgb(253, 233, 219);
$color_dark_hover:#CDCDCD;
$color_dark2:#4C4C4C;
$font_serif:Georgia, 'Times New Roman', Times, serif;
$font_sansserif:"Arial", "Helvetica CY", "Nimbus Sans L", sans-serif;
$color_dark:#6581ac;
$color_dark_active:#293c58;;
$color-radk-3xl:#292929;
$color_light:#abbfdd;
$color_light2: rgb(222, 226, 231);
$color-overlay:#2028338a;
$content-width:1200px;
$tablet-width:768px;

$mobile-big-width:414px;
$mobile-small-width:320px;

