a {
    text-decoration: none;
}

.hr {
    width: 90%;
    height: 1px;
    background: $color_dark;
    margin: auto;
}

.Footer-items {
    display: flex;
    flex-direction: row;
    justify-content: left;
    gap: 4rem;
    margin-top:2rem;
}

.Footer__item {
    text-align: left;
}

.Footer_end {
    text-align: center;
    margin: 0;
}
.Footer_Heading{
    margin: 1rem 0 1rem 0;
}

.Footer_Subheading {
    color: $color-light;
    padding-top: 0.8rem;
    padding-left: 0.4rem;
  
    
}