header {
    left: 40px;
    right: 40px;
    top: 0;
    z-index: 2;
    margin:1rem 0;

    @include respond-to(tablet) {
        padding-top: 9px;
        left: 27px;
        right: 27px;
    }

    @include respond-to(small-devices) {
        padding-top: 9px;
        left: 12px;
        right: 12px;
    }

    a {
        text-decoration: none
    }
}
.logo-image{
    background-image: url("../../assets/icons/logo.png");
    background-size: contain;
    background-repeat: no-repeat;
    height: 100px;
    width: 100px;
}
.logo-wrapper{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
}
.logo{
    position: relative;
    max-width:400px;
    @include respond-to(tablet) { max-width:210px ;}


.title{ 
    @include title-text-large;
    margin:20px 0 0 10px;
    
    a{
        text-decoration: none;
        color:$color_primary;
    }
    
}
.subtitle{ 
    @include title-text-small;
    margin:10px;
}
}
nav{
    margin-top:24px;
}
.nav-menu{
        a {
        text-decoration: none;
        display:inline-block;
        color:#CDCDCD;
        
        &:hover{
            color:$color_light;
        }
    }
.nav-menu__item{
    list-style: none;
    @include paragraph-l;
    margin: 0 0 0 40px;
    &:nth-child(2){
        border-bottom: 3px solid $color_primary;
    }
   }  
    display:flex;
    flex-direction: row;
    justify-content: right;
}

.cart-btn-wrapper {
    position: relative;
    margin: 40px 0 0 10px;
    .cart-btn,.auth-btn{
        margin-right: 1rem;
        @include title-text-middle-blue;
        display: inline;
        &:hover{
            cursor: pointer;
        }
    }
    .auth-btn{
        background: none;
        border: none;
    }
}

.cart-value {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $color_light2;
    font-weight: 600;
    top: -20px;
    right: 6.5rem;
    width: 2rem;
    height: 2rem;
    background-color: $color_primary;
    border: 2px solid $color_light;
    border-radius: 50%;
   
}

@include respond-to(small-devices){
    
    .title{ 
        font-size: 16px;
        margin-bottom:10px;
    }
}