.wrapper__main{
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-top:3rem;
    margin-bottom: 1rem;
    @include respond-to(tablet) {
        margin-top:0.5rem;
    }
    @include respond-to(small-devices) {
        margin-top:0.5rem;
    }
}
.filter{
    min-width: 14rem;
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.content {
    margin-left: 10%;

    @include respond-to(tablet) {
        margin-left: 3%;
    }
    @include respond-to(small-devices) {
        margin-left: 1%;
    }

    @include respond-to(tablet) {
        max-width: 95%;
    }
    @include respond-to(small-devices) {
        max-width: 98%;
    }
}
.catalog-view{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.wrapper_catalog{
    margin-top:1rem;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap:1rem;
    @include respond-to(tablet) {
        gap:0.3rem;
    }
    @include respond-to(small-devices) {
        gap:0.3rem;
    }
}
.category >.null,.category >.active {
    cursor: pointer;
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 20rem;
    margin: 0.25em 0px;
    padding: 0.25rem 0px;
    background: transparent;
    border-color: transparent;
    @include text-little-blue;
    text-align: left;
    &:hover{
        color: $color_light;
    }
    @include respond-to(tablet) {
        max-width: 14rem;
    }
    @include respond-to(small-devices) {
        max-width: 14rem;
    }
}
.filter-input{
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: none;
}
.price, .shipping{
    @include text-little-blue;
    padding: 0.25rem 0;
}
.colors >*{
    cursor: pointer;
}
.color-btn-transp{
    background-image: url("../../assets/images/color_transp.jpg");
}
.color-btn-chestnut{
    background-image: url("../../assets/images/color_chestnut.jpg");
}
.color-btn-mahagon{
    background-image: url("../../assets/images/color_mahagon.jpg");
}
.color-btn-nut{
    background-image: url("../../assets/images/color_nut.jpg");
}
.color-btn-dark-oak{
    background-image: url("../../assets/images/color_dark-oak.jpg");
}
.all-btn{
    @include text-little-blue;
    padding: 0.25rem 0;
    background-color: transparent;
    border: none;
    &:hover{
        color: $color_light;
    }
}
.color-btn-transp,
.color-btn-chestnut,
.color-btn-mahagon, 
.color-btn-nut, 
.color-btn-dark-oak{
    background-size: contain;
    height: 1rem;
    width: 1.5rem;
    margin: 0.2rem;
    border: none;
    &:hover{
        box-shadow: 0px 0px 2px 2px $color_light;
    }
}
